.addNewUserBtn {
  padding: 10px 16px;
  background-color: rgb(44, 148, 212);
  border: none;
  border-radius: 8px;
  color: #fff;
}

.marginTop16 {
  margin-top: 16px;
}

.btnWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}
